streamlit
pandas
plotly
yfinance
requests
numpy
curl_cffi
beautifulsoup4
rich
python-dateutil
frozendict
multitasking
peewee
platformdirs
protobuf
pycparser
pygments
pytz
soupsieve
typing-extensions
tzdata
urllib3
websockets
scipy
